<h1>Créditos</h1>

<a href="https://github.com/alvarosanchez93">Enlace Github </a>
<p>
    Esta práctica ha sido desarrollada por Alvaro Sanchez Augustin y Leticia Leria Sanchez.
</p>

<img src="/images/alvaro.png" />
<img src="/images/leticia.png" />


